---
import type { HTMLAttributes } from "astro/types";
import Symbol from "../Symbol.astro";

interface Props extends HTMLAttributes<"a"> {
    variant?: "elevated" | "filled" | "tonal" | "outlined" | "text";
    shape?: "rounded" | "square";
    size?: "extra-small" | "small" | "medium" | "large" | "extra-large";
    icon?: string;
    iconSrc?: string;
    floating?: boolean;
}

const {
    variant = "filled",
    shape = "rounded",
    size = "small",
    icon,
    iconSrc,
    floating = false,
    ...attributes
} = Astro.props;

---

<a
    class:list={[variant, attributes.class, size, shape]}
    {...attributes}
>
    {icon && <Symbol name={icon} />}
    {iconSrc && <img src={iconSrc} alt="" />}
    <slot />
</a>

<style>
    @import "./shared-button-styles.css";
</style>
